

.color1 {color: #15272d;}
.color2 {color: #1a383c;}
.color3 {color: #235153;}
.color4 {color: #357471;}
.color5 {color: #549c93;}

.color11 {color: #079bff;}
.color22 {color: #08baff;}
.color33 {color: #08dbff;}
.color44 {color: #52f9ff;}
.color55 {color: #94fff7;}



:root {
  --cor-bg: #1a383c;
  --navbar-color: #15272d;
  --navbar-font-color: #549c93;
}



* {
  margin: 0;
  padding: 0;
}

body {
  background: white;
  font: normal 15pt arial;
  font-size: 35px;
}

header {
  color: white;
  text-align: center;
}

section {
  display: flex; /* Ativa o Flexbox no container */
  justify-content: space-evenly; /* Distribui espaço uniformemente entre as listas incluindo bordas */
  background: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 5px;
  width: 50%;
  min-width: 600px;
  margin: 15px auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.391);
}


div {
  text-align: center;
  padding: 8px;
}

a {
  text-decoration: none;
}

a:visited {
  color: #000000;
}

footer {
  margin: 0 auto;
  color: white;
  text-align: center;
  font-style: italic;
}

#first-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#today {
  font-size: 15px;

}
#today p {
  margin-top: 3px;
}

#img-today {
  width: 150px;
}

#portfolio-explanation img {
  width: 35px;
}
#portfolio-explanation h1 {
  margin-bottom: 0;
}

.apresentation {
  margin: 0 auto;
  width: 90%;
  background-color: rgb(231, 227, 227);
  font-size: 18px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.391);
  padding: 20px;
}

#second-container {
  margin-top: -10px;
  padding: 5px;

}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-radius: 10px;
  display: flex; 
  justify-content: center;
  
}

ul.navbar.hoverizado {
  background-color: #ff0000;
  

}

ul.navbar li {
  float: left;
}

ul.navbar li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  text-align: center;  
  letter-spacing: 1px;
  margin: 8px;
}




#third-container {
  background: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 15px;
  width: 50%;
  min-width: 600px;
  margin: 5px auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.391);
  text-align: center;
}

.contato1 {
  display: inline-block;
  background-color: #e2d6ff;
  padding: 1px;
  width: 91.5%;
  margin-top: -7px;
  
}



.social-card-container {
  display: flex;
  text-align: center;
  margin-top: 1px;
  margin-bottom: -10px;


}

.title-div {
  letter-spacing: 3px;
  margin: 0 auto 20px auto;
}


.social-card img {
  display: inline;
  vertical-align: middle;
  width: 30px;
}

.social-card a {
  display: inline;
  vertical-align: middle;
  font-size: small;
}



 .princing-container {
  margin-top: 1px;
  display: flex;
  width: 92%;
} 

.princing-container a {
  text-decoration: none;
  color: #000000;
  font-size: 11px;
}

.dolar-container {
  height: 13px;
  background-color: rgba(0, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;

}

.euro-container {
  height: 13px;
  background-color: rgba(31, 87, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btc-container {
  height: 13px;
  background-color: rgba(117, 186, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.data-tempo {
  margin: 0 auto -8px auto;
  padding: 1px;
  height: 30px;
  
  width: 91.5%;
  background-color: rgba(31, 87, 255, 0.2);
}






ul.navbar li a:hover {
  background-color: #2499c7;
}



.wrapper-content {

    font-size: 18px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: minmax(50px, auto);
    padding: 10px;
    margin: 0 auto;
    grid-column-gap: 1px; 
    grid-row-gap: 5px;
    
  }








.first-project {
  background-color: #e7e3e3;
  width: 95%;
  display: inline-block;
  text-align: center;
  grid-column: 1 / span 1;
  border: 1px rgba(0, 0, 0, 0.1) solid;

}

.second-project {
  background-color: #e7e3e3;
  width: 95%;
  display: inline-block;
  text-align: center;
  grid-column: 2 / span 1;
  border: 1px rgba(0, 0, 0, 0.1) solid;

}

.third-project {
  background-color: #e7e3e3;
  width: 95%;
  display: inline-block;
  text-align: center;
  grid-column: 1 / span 1;
  grid-row: 2;
  border: 1px rgba(0, 0, 0, 0.1) solid;

}

.fourth-project {
  background-color: #e7e3e3;
  width: 95%;
  display: inline-block;
  text-align: center;
  grid-column: 2 / span 1;
  grid-row: 2;
  border: 1px rgba(0, 0, 0, 0.1) solid;
}


.img-container1 {
  width: 100%;
  padding: 0;
}

.img-project1 {
  width: 100%;
  height: auto;
}

.first-project:hover {
  background-color: #15272d58;
}




.img-container2 {
  width: 100%;
  padding: 0;
}

.img-project2 {
  width: 100%;
  height: auto;
}
.second-project:hover {
  background-color: #15272d58;
}




.img-container3 {
  width: 100%;
  padding: 0;
}

.img-project3 {
  width: 100%;
  height: auto;
}

.third-project:hover {
  background-color: #15272d58;
}




.img-container4 {
  width: 100%;
  padding: 0;
}

.img-project4 {
  width: 100%;
  height: auto;
}

.fourth-project:hover {
  background-color: #15272d58;
}


.project-title {
  background-color: #235153;

} 


#calculator {
  display: none;
  overflow: auto;
  

}


.overlay {
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 90%;
  background-color: rgba(196, 196, 196, 0.942); 
  z-index: 9999; 
  display: block;
}

.calculator-img-container {
  background-color: #aaaaaa7e;
  margin-top: 20px;
  margin-left: 20px;
  min-width: 500px;
  max-width: 500px;
  border-radius: 10px;
}


.calculator-img-container img {
  width: 100%;
}




.project-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.overlay-title {
  width: 55%;
  max-height: 750px;
  background-color: #efefef;
  margin: 0 auto;
  border-radius: 10px;
  
}

.overlay-title h1 {
  font-size: 75px;
}


.tech-img img {
  width: 70px;
}

.project-contact {
  display: flex;
  text-align: center;
  justify-content: center;
}



.close-tab {
  margin-left: 73vw;
  padding: 0;
}



  /* Estilos para o menu */
  ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
}

ul.menu li {
    float: left;
}

ul.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.menu li a:hover {
    background-color: #111;
}

/* Estilos para as sections criadas */
.new-section {
  display: flex; /* Ativa o Flexbox no container */
  justify-content: space-evenly; /* Distribui espaço uniformemente entre as listas incluindo bordas */
  background: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 5px;
  width: 50%;
  min-width: 600px;
  margin: 15px auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.391);
}




#section-Services {
  background-color: #2499c7;
}




#perfil {
  font-size: 15px;

}
#perfil p {
  margin-top: 3px;
}

#img-perfil {
  width: 400px;
}

.img-perfil-container {
  
  background-color: #e2d6ff;
  padding: 1px;
  width: 91.5%;
  
}








.apresentation-cv1 {
  justify-content: space-evenly; /* Distribui espaço uniformemente entre as listas incluindo bordas */
  margin: 15px 10px 15px 10px;
  width: 20vw;
  background-color: rgb(231, 227, 227);
  font-size: 18px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.391);
  padding: 20px;
}

.apresentation-tec1 {
  display: flex;
  
}

.apresentation-cv1 h4 {
  margin-right: 100%;
  white-space: nowrap; /*impede a quebra de linha*/
}
  
.title-div2 {
  margin-right: 100%;
  white-space: nowrap; /*impede a quebra de linha*/
}

.title-div2 p {
  font-size: medium;
}






















.ficha-cadastral {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  max-width: 600px;
  
  
  
}
.campo {
  margin-bottom: 10px;
  
 
  
  
}
.campo label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  margin-right: 100%;
  white-space: nowrap;
  
}

.campo p {
  margin-right: 100%;
  white-space: nowrap;  
}








.display-tecnologias {
  display: flex;
  flex-direction: column; /* Alinha os itens em coluna */
}

.social-card1 {
  display: flex;
  align-items: center; /* Alinha o conteúdo dentro da div verticalmente */
  margin-bottom: 10px; /* Espaço entre os itens */  
}

.social-card1 img {
  width: 30px;
  margin-right: 10px; /* Espaço entre a imagem e o texto */
}

