* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(44, 44, 121);
  font: normal 15pt arial;
}

header {
  color: white;
  text-align: center;
}

section {
  background: white;
  border-radius: 10px;
  padding: 15px;
  width: 50%;
  min-width: 600px;
  margin: 15px auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.391);
}

div {
  text-align: center;
  padding: 8px;
}

footer {
  color: white;
  text-align: center;
  font-style: italic;
}

#first-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#today {
  font-size: small;

}
#today p {
  margin-top: 3px;
}

#img-today {
  width: 125px;
}

#portfolio-explanation img {
  width: 25px;
}
#portfolio-explanation h1 {
  margin-bottom: 0;
}

.apresentation {
  margin: 0 auto;
  width: 90%;
  background-color: rgb(231, 227, 227);
  font-size: small;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.391);
}

#second-container {
  margin-top: -10px;
  padding: 0 16px 0 16px;
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-radius: 10px;
  display: flex; 
  justify-content: center;
}

ul.navbar.hoverizado {
  background-color: #ff0000;

}

ul.navbar li {
  float: left;
}

ul.navbar li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: small;
  text-align: center;  
}

#third-container {
  background: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 15px;
  width: 50%;
  min-width: 600px;
  margin: 5px auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.391);
  text-align: center;
}



.social-card {
  display: inline-block;
  margin-right: 80px;
  margin-left: 80px;
}


.social-card img {
  display: inline;
  vertical-align: middle;
  width: 50px;
}

.social-card a {
  display: inline;
  vertical-align: middle;
  font-size: small;
}



 .princing-container {
  margin-top: 1px;
  display: flex;
} 

.princing-container a {
  text-decoration: none;
  color: #000000;
  font-size: 10px;
}

.dolar-container {
  height: 12px;
  background-color: rgba(0, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;

}

.euro-container {
  height: 12px;
  background-color: rgba(31, 87, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btc-container {
  height: 12px;
  background-color: rgba(117, 186, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.data-tempo {
  margin: 0 auto -8px auto;
  padding: 1px;
  height: 30px;
  
  width: 91%;
  background-color: rgba(31, 87, 255, 0.2);
}

#navbar-content {
  display: none;
}

#projetos-container {
  display: none;
  
}
#about-container {
  display: none;
  
}
#arts-container {
  display: none;
  
}
#cv-container {
  display: none;
  
}





ul.navbar li a:hover {
  background-color: #2499c7;
}



